.home-card {
    border: 3px solid #be6313;
    border-radius: 25px;
    background: #341c07a3;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-container1 {
    width: 100%;
    margin: 20px;
    padding: 10px;
    padding-bottom: 30px;
    color: aqua;
    background: #000932;
    justify-self: center;
    flex: auto;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 400px;
}

.home-container2 {
    width: 100%;
    margin: 20px;
    padding: 10px;
    padding-bottom: 30px;
    color: aqua;
    background: #2e43a2;
    justify-self: center;
    flex: auto;
    margin-left: 30%;
    margin-right: 20%;
    max-width: 400px;
}

.home-container3 {
    width: 100%;
    margin: 20px;
    padding: 10px;
    color: aqua;
    background: #2e8b17;
    justify-self: center;
    flex: auto;
    margin-left: 10%;
    margin-right: 20%;
    max-width: 500px;
}

.home-container4 {
    width: 100%;
    margin: 20px;
    padding: 10px;
    color: aqua;
    background: #e51d16;
    justify-self: center;
    flex: auto;
    margin-left: 50%;
    margin-right: 20%;
    max-width: 500px;
}