.bg-blue {
    background: #000;
    z-index: 1 !important;
    /* this line added to show side menu drawer fully */
}

.ant-drawer-body {
    background-color: rgba(145, 145, 145, 0.2);
    color: #fff;
}

.navbarlink {
    color: #ffffff;
    font-weight: 500 !important;
    width: 150px;
    height: 50px;
    border: 1px solid #bc5e11;
    border-radius: 25px;
    padding: 10px;
}

.navbarlink:hover {
    color: #cd8e19;
    transition: 0.2s;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}